<div class="container">
    <% @blogs.each do |blog| %><br/>
      <div class="card">
        <div class="card-content ms-3 mt-3">
          <div class="media">
            <div class="media-content">
              <h4 class="title is-4 text-primary"><%= link_to blog.title, blog, class:"text-primary" %></h4>
            </div><br/>
          </div>
          <div class="content">
            <%= blog.content.split[0..12].join(' ')  %><% if blog.content.length > 37%>...<% end %>
          </div>
          <div class="comment-count">
            <br/><span class="tag is-rounded"><%= blog.comments.count %> comments</span>
          </div>
          <small class="">Created by: <%= blog.user.name%>,
            <%= time_ago_in_words(blog.created_at) %> ago, 
            last updated: <%= time_ago_in_words(blog.updated_at) %> ago
          </small>
        </div>
      </div>
    <% end %><br/>
  <%= link_to 'New Post', new_blog_path, class: "btn btn-primary"%>
  </div>
  <br/>
</div>